<header>
    <div class="header-image">
        <div class="header-text-info">
            <h3 class="header-text">SUMMER 2023</h3>
            <h1 class="header-text">New Collection</h1>
            <p>Find The Perfect style for you</p>
        </div>
    </div>
</header>
<Body>
    <div class = "main-products-categories">
        <div class="left-column">
            <div class="category-card top-left">
                <a class="category-link-button" href="#">HAT</a>
            </div>
            <div class="category-card bottom-left">
                <a class="category-link-button" href="#">SHOES</a>
            </div>
        </div>
        <div class="middle-column category-card middle">
            <a class="category-link-button" href="#">DRESSES</a>
        </div>
        <div class="right-column">
            <div class="category-card top-right">
                <a class="category-link-button" href="#">BAGS</a>
            </div>
            <div class="category-card bottom-right">
                <a class="category-link-button" href="#">CLOTHES</a>
            </div>
        </div>
    </div>
    <div class="line-container">
        <hr class="line">
    </div>
    <div class="featured-products">
        <h2 class="title">Featured Products</h2>
        <div class="featured-products-list">
            <featured-product-card></featured-product-card>
            <featured-product-card></featured-product-card>
            <featured-product-card></featured-product-card>
            <featured-product-card></featured-product-card>
        </div>
    </div>
    <div class="line-container">
        <hr class="line">
    </div>
    <div class="latest-products">
        <h2 class="title">Latest Products</h2>
        <div class="latest-products-list">
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
            <product-card></product-card>
        </div>
    </div>
</Body>