.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-text-info h1 {
    padding: 0px;
    margin: 0px;
}

h3.header-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

h1.header-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
}

.header-text-info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.header-image {
    width: 100%;
    height: 65vh;
    background-image: url(./../../../assets/home-module/header-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.main-products-categories {
    padding: 5vh 15vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 100%;
    height: 80vh;
}

.left-column {
    display: grid;
    gap: 40px;
    grid-column: 1;
}

.middle-column {
    grid-column: 2;
}

.right-column {
    display: grid;
    gap: 40px;
    grid-column: 3;
}

.category-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.top-left{
    background-image: url(./../../../assets/home-module/categoies/Hat.svg);
}

.bottom-left{
  background-image: url(./../../../assets/home-module/categoies/Shoes.svg);
}

.middle{
  background-image: url(./../../../assets/home-module/categoies/Dresses.svg);
}

.top-right{
  background-image: url(./../../../assets/home-module/categoies/Bags.svg);
}

.bottom-right{
  background-image: url(./../../../assets/home-module/categoies/Clothes.svg);
}

.category-link-button {
    align-items: center;
    text-decoration:none;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    overflow: hidden;
    padding: 15px 30px;
    text-align: center;
    vertical-align: middle;
    transition: ease 1s;
}

.category-link-button:hover,
.category-link-button:focus {
    background-color: rgba(88, 88, 88, 0.5);
}

.line-container {
    border: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0vh 16vh;
}

.line {
    margin: 0;
    border: none;
    border-top: 1px solid #E9E9E9;
}

.featured-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5vh 16vh;
    height: 90vh;
}

.title {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.featured-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 100%;
}

.latest-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5vh 30vh;
    height: 90vh;
}

.latest-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    width: 100%;
}

